<settings>
  <servers>
    <server>
      <id>internal</id>
      <username>${MVN_USERNAME}</username>
      <password>${MVN_PASSWORD}</password>
     </server>
     <server>
      <id>snapshots</id>
      <username>${MVN_USERNAME}</username>
      <password>${MVN_PASSWORD}</password>
    </server>
  </servers>
</settings>
